@import 'tailwindcss';
@import url( 'href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=poppins:wght@700&display=swap');
@theme{
    --color-primary: #3a57e8;
    --color-primary-light: #C4CCF8;
    --color-primary-dark: #0048B2;
    --color-primary-verydark: #001F4D;

    --color-text-satu: #232D42;
    --color-text-dua: #8A92A6;
    --color-text-tiga:#ADB5BD;

    --color-bg-satu: #FFFFFF;
    --color-bg-dua: #E9ECEF;
    --color-bg-tiga: #E3E3E3;

    --font-heading: "Poppins", sans-serif;
    --font-body: "Inter", sans-serif;
}
:root {
    --primary: var(--color-primary);
    --primary-light: var(--color-primary-light);
    --primary-dark: var(--color-primary-dark);
    --primary-verydark: var(--color-primary-verydark);

    --text-1: var(--color-text-satu);
    --text-2: var(--color-text-dua);
    --text-3: var(--color-text-tiga);

    --bg-1: var(--color-bg-satu);
    --bg-2: var(--color-bg-dua);
    --bg-3: var(--color-bg-tiga);

    --heading: var(--font-heading);
    --body: var(--font-body);
}
body {
    @apply bg-bg-satu text-primary font-body;
}
/* text{16px} */